<div id="show_rating-<%= review.id %>"></div>
<script>
    var elem = document.querySelector('#show_rating-<%= review.id %>');
    var opt = {
        starOn: "<%= asset_path("star-on.png") %>",
        starOff: "<%= asset_path("star-off.png") %>",
        readOnly: true,
        score: <%= review.rating %>
    };
    raty(elem,opt);
</script>