<% if @review.errors.any? %>
  <div class="alert alert-danger">
    <h3>以下のエラーがあります:</h3>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2 class="m-3">レビューを編集する</h2>
<div class="container">
<%= form_with model: @review, local: true do |f| %>
  <h4>山小屋名</h4>
  <%= f.collection_select :hut_id, @huts, :id, :name, prompt: '山小屋を選択してください' %>
  
  <h4>タイトル</h4>
  <%= f.text_field :title, class: 'form-control' %>

  <h4>本文</h4>
  <%= f.text_area :body, class: 'form-control' %>

  <h4>写真</h4>
  <%= f.file_field :images, multiple: true, accept: 'image/*', class: 'form-control' %>
  
  <h4>評価</h4>
  <%= render "output_star", review: @review %>

  <div class="mt-3 mb-3">
    <%= f.submit "更新", class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to "レビュー一覧へ戻る", reviews_path, class: "btn btn-secondary mb-5" %>
</div>
