<h1>レビュー詳細</h1>

<h2><%= @review.title %></h2>

<p><strong>レビュー内容:</strong></p>
<p><%= @review.body %></p>

<p><strong>評価:</strong><%= @review.rating %> / 5</p>

<% if @review.images.attached? %>
  <h2>画像:</h2>
  <% @review.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>

<p><strong>投稿者:</strong> <%= @review.user.name %></p>

<%= link_to 'レビュー一覧へ戻る', reviews_path, class: "btn btn-primary mr-3" %>

<% if current_user == @review.user %>
  <%= link_to "レビューを編集", edit_review_path(@review), class: "btn btn-primary" %>
  <%= link_to "レビューを削除", review_path(@review), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
<% end %>