<h2 class="m-3">ユーザー情報詳細ページ</h2>

<div class="container">
  <div class="row">
    <div class="col-5">
      <% if @user.present? %>
        <div class="d-flex align-items-center mb-4">
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: "100x100", class: "rounded-circle me-3", style: "object-fit: cover;" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "100x100", class: "rounded-circle me-3", style: "object-fit: cover;" %>
          <% end %>
        <h3 class="ml-3"><%= @user.name %></h3>
        </div>
        <table class="table table-borderless">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <%= @user.is_active ? "有効" : "退会" %>
            </td>
          </tr>
        </tbody>
        </table>

  <div class="mt-4">
    <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success mr-3 mb-5" %>
    <%= link_to "ユーザー一覧に戻る", admin_users_path, class: "btn btn-secondary mb-5" %>
  </div>
<% else %>
  <p>ユーザー情報が見つかりません。</p>
<% end %>
</div>
</div>
</div>
