<h2 class="m-3">山小屋一覧</h2>

<div class="container mt-5">
  <div class="row">
    <% @huts.each do |hut| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= hut.name %></h5>
            <div>評価平均: <%= render "average", hut: hut %></div>
            <p class="card-text"><%= truncate(hut.description, length: 100) %></p>
            <%= link_to "詳細を見る", hut_path(hut), class: "btn btn-primary btn-sm", data: { turbolinks: false } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/pagination', object: @huts %>
