<h2 class="m-3"><i class="fa-solid fa-person-hiking mr-1"></i>マイページ</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 pt-4 mb-3" style="background-color: #fff5e0; border-radius: 10px;">
      <h3>ユーザー情報</h3>
        <div>
          <% if @user.present? %>
            <% if @user.image.attached? %>
              <%= image_tag @user.image, size: "100x100", class: "ml-3", style: "border-radius: 50%; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100", class: "ml-3", style: "border-radius: 50%; object-fit: cover;" %>
            <% end %>
        </div>
        <div>
          <table class="table table-borderless mt-2">
            <thead>
              <tr>
                <th scope="col">ユーザーネーム</th>
                <th scope="col"><%= @user.name %></th>
              </tr>
            </thead>
          </table>
          <% if @user.email != "guest@example.com" %>
            <%= link_to "編集", edit_user_path(@user), class: "btn btn-outline btn-block mb-5", style: "color: #333333; border-color: #333333;" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8">
      <%= link_to search_path, style: "display: inline-block; padding: 20px 40px; font-size: 18px; background-color: #3cb371; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin: 10px;"  do %>
        <i class="fa-solid fa-mountain-sun" style="margin-right: 8px;"></i>山小屋orレビューを探す
      <% end %><br>
      <%= link_to new_review_path, style: "display: inline-block; padding: 20px 40px; font-size: 18px; background-color: #ffa500; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin: 10px;" do %>
        <i class="fa-regular fa-pen-to-square" style="margin-right: 8px;"></i>新規レビューを書く
      <% end %><br>
      <%= link_to reviews_path, style: "display: inline-block; padding: 20px 40px; font-size: 18px; background-color: #00bfff; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin: 10px;" , data: { turbolinks: false } do %>
        <i class="fa-solid fa-square-poll-horizontal" style="margin-right: 8px;"></i>投稿したレビュー一覧を見る
      <% end %><br>
      <%= link_to users_favorites_path, style: "display: inline-block; padding: 20px 40px; font-size: 18px; background-color: #F7ADC3; color: white; text-align: center; border-radius: 5px; text-decoration: none; margin: 10px;", data: { turbolinks: false }  do %>
        <i class="fa-solid fa-heart" style="color: red; margin-right: 8px;"></i>いいねしたレビュー一覧を見る
      <% end %>
    </div>
  </div>
</div>
