<!DOCTYPE html>
<html>
  <head>
    <title>Mountainhutters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1a24d1deb3.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'search' %>
  </head>

  <body>
    <div class="wrapper">
      <% if admin_signed_in? %>
        <%= render "layouts/header_admin" %>
      <% else %>
        <%= render "layouts/header_user" %>
      <% end %>
      <main class="content">
        <%= render "layouts/flash_message" %>
        <%= yield %>
      </main>
    </div>
      
    <footer>
      <p>ⒸCopyRight Mountain Hutters.inc</p>
    </footer>

  </body>
</html>
